
/*
section {
  width: 99%;
  height: 600px;
  margin: auto;
  padding: 10px;
}
#controls {
  width: 15%;
  float: left;
}
#neuralNetGraph {
  margin-left: 15%;
  height: 100%;
  border: 1px solid lightgray;
}
*/

#neuralNetGraph {
  border: 1px solid lightgray;
  height: 600px;
}

input {
  margin: 2px 40px 2px 40px;
}

button {
  margin: 6px 8px 2px 8px;
}

