<md-toolbar [color]="myColor">
  <span>Visible Neural Network</span>
</md-toolbar>
<section layout="row">
  <div id="controls" flex="20">
    <div>
      <button md-button (click)="handleConnectButtonClicked()">Connect</button>
      <button md-button (click)="handleUnsubscribeButtonClicked()">Unsubscribe</button>
      <button md-button (click)="handleDisconnectButtonClicked()">Disconnect</button>
    </div>
    <div id="conversationDiv">
      <label>What is your name?</label><input [(ngModel)]="inputName" type="text" id="name" />
      <button md-button (click)="handleSendButtonClicked()">Send</button>
      <button md-button (click)="handlePredictButtonClicked()">Predict</button>
      <label></label>
      <p id="response"></p>
    </div>
    <ul>
      <li *ngFor="let inputValue of inputValues">
        {{inputValue}}
      </li>
    </ul>
    <div layout="row">
      <div flex>First</div>
      <div flex>Second</div>
    </div>
  </div>
  <div #neuralNetGraph id="neuralNetGraph" flex="70" grow="50"></div>
</section>
